<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<section class="main">
  <header>Benny's Pizzaria</header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
      <li><a href="/pizza-orders/new">Create Order</a></li>
    </ul>
  </nav>

  <main>
    <%= yield %>
  </main>

  <footer>COPYRIGHTBRUH Ben Harvie 2018</footer>
  </section>
</body>
</html>
